<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('fragments/Head')%>
    <title>Document</title>
</head>
<body>
    <%-include('fragments/Navbar',{session:session})%>
    <h1>FAVORITOS</h1>
    <h1><%= favoritos %></h1>
</body>
</html>